[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
holidays = "*"
lightgbm = "*"
scikit-learn = "*"
xgboost = "*"
catboost = "*"
python-dotenv = "*"
snowflake-connector-python = "*"
pyyaml = "*"
dagshub = "*"
mlflow = "*"
fastapi = "*"
uvicorn = "*"
sktime = "*"
statsmodels = "*"
python-multipart = "*"
nbconvert = "*"
jupyter-contrib-nbextensions = "*"
setuptools = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.8"
